<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{{ url_for('static', filename='crie_conta.css') }}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<body> 
    <aside> 
        <h1> MELHORE A GESTÃO <br> DE TAREFAS DA SUA <br> INSTITUIÇÃO!</h1>
    </aside>
    <main>
        
        <h2> Crie uma conta</h2>
            <form action="/submit" method="post">
                <input type="text" id="nome" name="nome" placeholder="Nome completo*">
                <input type="text" id="instituicao" name="instituicao" placeholder="Tipo de Instituição*">
                <input type="email" id="email" name="email" placeholder="Email*">
                <input type="password" id="senha" name="senha" placeholder="Senha*">
                
                <a href="dashboard.html">  <input type="submit" value="Criar Conta"></a>
        
        
    </main>
</body>