<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{{ url_for('static', filename='nova_senha.css') }}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<body> 
    <aside> 
        <h1> MELHORE A GESTÃO <br> DE TAREFAS DA SUA <br> INSTITUIÇÃO!</h1>
    </aside>
    <div class="recuperacao">      
        <h2> Recuperar de Senha </h2>
            <form action="/submit" method="post">
                <input type="password" id="senha" name="Senha" placeholder="Nova Senha*">
                <input type="password" id="senha" name="Senha" placeholder="Repita a Senha*">
         
                <input type="submit" value="Salvar">
        
            </div>

            
</body>